<div class="dnd-main noselect border-box">
  <div class="dnd-items text-align-center block relative">
    <dnd-item [label]="'APPLE'"></dnd-item>
    <dnd-item [label]="'GOOGLE'"></dnd-item>
    <dnd-item [label]="'MICROSOFT'"></dnd-item>
    <dnd-item [label]="'FACEBOOK'"></dnd-item>
  </div>

  <div class="dnd-targets text-align-center block relative">
    <dnd-target [header]="'Very Dissatisfied'"></dnd-target>
    <dnd-target [header]="'Dissatisfied'"></dnd-target>
    <dnd-target [header]="'No Opinion'"></dnd-target>
    <dnd-target [header]="'Satisfied'"></dnd-target>
    <dnd-target [header]="'Very Satisfied'"></dnd-target>
  </div>
</div>